body {
    background-color: #ffffff;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: #444444;
    text-align: center;
    margin: 30vh 0;
}

/* Styling for Github Corner: https://tholman.com/github-corners/ */

svg {
    fill: #444444;
}